.kdam-thmor-pro-regular {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2{
    font-family: "Kdam Thmor Pro"
}

h3, p{
    font-family: "Work Sans"
}

h1{
  padding: 40px;
  text-align: center;
}

.teamWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 200px;
}

.person{
  text-align: center;
}

.projects{
  text-align: center;
}